# Web framework
flask
flask-cors
gunicorn

# Image & ML
opencv-python-headless
pillow
tensorflow-cpu
keras
numpy
scipy
scikit-learn
imagehash

# Database
pymongo
certifi

# Env management
python-dotenv

# Google Drive API
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
pydrive2
